.input-container {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px; 
    z-index: 1000; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 500px; 
    height: 280px;
}

.input-container h1 {
    margin-top: 0; 
    margin-bottom: 10px;
}

.input-container label {
    display: block; 
    margin-bottom: 10px; 
}

.input-container input[type="text"] {
    width: calc(100% - 20px); 
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.input-container button {
    padding: 10px 20px; 
    border-radius: 5px; 
    border: none; 
    background-color: #0057b4;
    color: #fff; 
    cursor: pointer; 
}

.input-container button:hover {
    background-color: #3a99ff; 
}

.topic {
    margin-top: 200px; 
}

label {
    margin-bottom: 20px;
    margin-top: 20px;
}

.input-portnum[type="text"] {
    width: 20%; 
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #0056b3;
    margin-bottom: 10px; 
}

.btn-showdata {
    width: 20%;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #0056b3; 
    color: #fff;
    cursor: pointer;
    margin-top: 10px; /* เพิ่มความห่างด้านบนของปุ่ม */
    text-decoration: none; /* ลบเส้นใต้ของปุ่ม */
}

.btn-showdata:hover {
    background-color: #0056b3;
    text-decoration: none;
}

.btn-pay{
    width: 12%;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #20dc58; 
    color: #fff;
    cursor: pointer;
    margin-top: 10px; 
    text-decoration: none; 
}

.btn-pay:hover {
    background-color: #0caf27;
    text-decoration: none; 
}

table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #0056b3;
}

.port-popup {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -40%); 
    width: 80%; 
    max-height: 80%;
    overflow-y: auto; 
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #000;
    padding: 5px;
    z-index: 1001;
}

.close-btn:hover {
    color: #ffffff;
}

.port-popup p {
    font-weight: 500;
    color: #0129ad;
}


@media (max-width: 850px) {
    input[type="text"] {
        width: calc(100% - 40px);
    }

    .btn-showdata {
        width: calc(100% - 40px);
    }
}
