.dashboard {
    position: relative;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #003366;
    color: #fff;
    cursor: pointer;
  }
  
  .hamburger-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .hamburger-button i {
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  .logo h1 {
    margin: 0;
  }
  
  .admin-btn button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .admin-btn button:hover {
    background-color: #62a8f2;
    text-decoration: none;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #AFEEEE;
    padding: 20px;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column; /* ปรับเป็นแนวตั้ง */
    align-items: flex-start; /* จัดให้ข้อความชิดซ้าย */
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    cursor: pointer;
    margin-top: 80px; /* ปรับระยะห่างของรายการเมนู */
    margin-bottom: 60px;
  }
  
  .sidebar li {
    display: flex;
    padding: 10px 10px;
    cursor: pointer;
    margin-bottom: 25px;
  }
  
  .sidebar li a {
    text-decoration: none; 
    color: inherit; 
    font-weight: bold;
    margin-left: 10px; /* ปรับระยะห่างของข้อความกับไอคอน */
  }
  
  .sidebar li:hover {
    background-color: #FFFF66;
    cursor: pointer;
    border-radius: 5%;
  }

  .sidebar li button{
    color: black;
  }
  .sidebar li button:hover {
    background-color: #FFFF66;
    cursor: pointer;
    border-radius: 5%;
    text-decoration: none;
  }
 
  .close-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .logout-button {
    background-color: #ffffff; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
  }
  
  

  
  