.summary-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}

.chart-container {
    position: relative;
    margin-top: 20px;
    width: 200%; /* ปรับความกว้างให้เหมาะสมกับขนาดของกราฟ */
    max-width: 500px; /* กำหนดความกว้างสูงสุดของกราฟ */
    height: 300%; /* ปรับความสูงของกราฟให้มีขนาดเล็กลง */
}

.chart-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%; /* ปรับความสูงของกราฟให้มีขนาดเล็กลง */
    background-color: rgba(255, 255, 255, 0.8); /* สีพื้นหลังของกล่อง */
    border-radius: 10px; /* ระดับของขอบกล่อง */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* เงาของกล่อง */
    z-index: 1; /* อยู่บนกราฟ */
}

.summary-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.summary-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%; /* กำหนดความกว้างเต็มรูปแบบของ summary-content */
}

.summary-item {
    background-color: rgb(255, 198, 210);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.summary-item p {
    margin: 0;
    text-align: center;
    font-size: 18px;
}

.loading-text {
    text-align: center;
    font-size: 18px;
    color: #666;
}

.chart-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
#myChart,
#userChart {
    margin: 0 10px; /* ปรับระยะห่างระหว่างกราฟ */
  }

  .dashboard {
    padding-left: 0; /* เพิ่มค่า padding-left ที่เริ่มต้นเป็น 0 */
    transition: padding-left 0.3s ease; /* เพิ่ม transition เพื่อทำให้การเปลี่ยนแปลงค่า padding-left มีอาการเรียบขึ้น */
}

.dashboard.sidebar-active {
    padding-left: 200px; /* เพิ่มค่า padding-left เมื่อเปิด NavbarSidebar โดยค่าของ padding จะเท่ากับความกว้างของ NavbarSidebar */
}

.summary-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    transition: transform 0.3s ease; 
}

.summary-container.sidebar-active {
    transform: translateX(200px); 
}

@media screen and (max-width: 850px) {
    .dashboard.sidebar-active {
      padding-left: 0;
    }
    
    .summary-container.sidebar-active {
      transform: translateX(0);
    }
  }
  
  