.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px; 
}

.popup {
  max-width: 800px; 
  max-height: 800px;
}

.popup img {
  max-width: 200%; 
  max-height: 200%; 
}

.goldButton,
.eurusdButton,
.usdjpyButton,
.goldview,
.eurusdview,
.usdjpyview {
  margin-top: 5px; /* ปรับความห่างระหว่างปุ่ม */
}

.goldview,
.eurusdview,
.usdjpyview {
  order: 2; /* จัดลำดับให้ปุ่ม "view" อยู่ด้านล่าง */
}
