@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.StartHereContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
  }
  
  .StartHereImage {
    max-width: 800px; 
    max-height: 800px; 
    object-fit: contain; 
  }
  
  .StartHereTitle {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    font-family: 'Prompt', sans-serif;
    font-size: 2.5rem;
  }
  
  .StartHereDescription {
    font-size: 16px;
    margin-top: 10px;
    font-family: 'Prompt', sans-serif;
    font-size: 1.5rem;
  }
  
  .StartHereButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: #000;
    color: #fff;
  }
  